<!-- Coding by: Quang Thien-->
<!-- Tel: 0909.123.144-->
<!-- Email: phamquangthien.it@gmail.com-->
<!-- URL: https://www.facebook.com/6Thien-->
meta(name="description", content=description)
link(rel="profile", href="https://gmpg.org/xfn/11")
link(rel="pingback")
// ROBOTS
meta(name='googlebot' content='noarchive')
meta(name='robots' content='noarchive')
// Meta verification
//- Google
meta(name="google-site-verification", content="UA-183951079-1")
meta(name="google-site-verification", content="p-dJsJyNijULxRnl1e0Iewv2zMcvgNWaWQT6RjoI8PM")
meta(name="google-site-verification", content="G-WGL1QKB34E")
//- Bing
meta(name="msvalidate.01", content="F7679394C660249FBA58732D6100A65A")
//- Yandex
meta(name="yandex-verification", content="2920774a15b05176")
//- Feeds
link(rel="alternate", type="application/rss+xml", title="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG", href="https://vaythechapnganhang24h.vn/sitemap.xml")
// Meta Tag
meta(name="generator", content="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(name='robots', content='noodp')
meta(name='keywords', content="vay thế chấp ngân hàng, vay đầu tư dự án, hạn mức cho vay, vay vốn,vay mua o tô, vay tiêu dùng,vay kinh doanh,vay mua đất, vay sổ đỏ, vay sổ hồng,Ngân Hàng Vay Thế Chấp Uy Tín,Hỗ trợ vay thế chấp ngân hàng,Vay Thế Chấp Sổ Đỏ , Liên Hệ: 0937.125.126")
link(rel='dns-prefetch', href='https://maps.googleapis.com/')
link(rel='dns-prefetch', href='https://s.w.org/')
meta(name='apple-itunes-app', content='app-id'+"XXX-XXX-XXX-XXXX")
meta(name="geography" content="93/26 đường số 9 - Phường 16 - Quận gò vấp - Hồ Chí Minh")
meta(name="language" content="Vietnam")
// SEO MAP
meta(name='DC.title', content=title)
meta(name='geo.region', content="vn")
meta(name='geo.placename', content="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(name='geo.position', content="36.204824"+';'+"138.252924")
meta(name='ICBM', content="36.204824"+','+"138.252924")
// SEO
meta(name='author', content="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
link(rel='canonical', href="https://vaythechapnganhang24h.vn/")
// Social: Twitter
meta(name='twitter:card', content=title+' - '+ "HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(name='twitter:site', content="https://vaythechapnganhang24h.vn/")
meta(name='twitter:creator', content='@'+"Quang Thien"+'')
meta(name='twitter:title', content=title+' - '+ "HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(name='twitter:description', content=description)
meta(name='twitter:image:src', content= "https://vaythechapnganhang24h.vn/" + '/img/logo2.png')
// Social: Facebook / Open Graph
meta(property='fb:admins', content="267810567645302")
meta(property='fb:app_id', content="267810567645302")
meta(property="og:type", content="website")
meta(property='og:url', content="https://vaythechapnganhang24h.vn/")
meta(property='og:title', content=title+'- '+ "HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(property='og:image', content="https://vaythechapnganhang24h.vn/" + '/img/logo2.png')
meta(property='og:description', content=description)
meta(property='og:site_name', content="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(property='article:author', content='www.facebook.com/' + "rio.ken.967")
meta(property='article:publisher', content='www.facebook.com/' + "rio.ken.967")
// Social: Google / Schema.org
link(rel='author', href='plus.google.com/'+ "https://vaythechapnganhang24h.vn/"+'/')
link(rel='publisher', href='plus.google.com/'+ "https://vaythechapnganhang24h.vn/"+'/')
meta(itemprop='name', content=title+'- '+ "HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
meta(itemprop='description', content=description)
meta(itemprop='image', content="https://vaythechapnganhang24h.vn" + '/img/logo2.png')
// Meta Tag Search
//- link(rel='search', type='application/opensearchdescription+xml', title="HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG", href='/'+"https://vaythechapnganhang24h.vn/"+'/SearchEngineInfo.xml')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-title', content=title+'- '+ "HỖ TRỢ VAY THẾ CHẤP NGÂN HÀNG")
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-WGL1QKB34E')


// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
	script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
	script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')

